header {
    color: rgb(0, 255, 247);
    /*padding: 1em;*/
    text-align: center;
    font-family: "Limelight", sans-serif;
    font-size: 4em;
}

img.logo {
    max-width: 200px; /* Increase the size of the logo */
    height: auto;
    display: block;
    margin: 10px auto; /* Center the logo and add space around it */
}

body {
    background-image: url(../css/Background\ Idea.jpg);
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color:white
}

a{
    color: rgb(2, 255, 225);
    text-decoration: none;
}

main{
    display: center;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    display: inline;
    margin: 0 10px;
    font-family: "Limelight", sans-serif;
    color: yellowgreen;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: "Limelight", sans-serif;
    color: yellowgreen;
    text-align: center;
    font-size: 2em;
    margin: 26.56px 0;
}   

h3 {
    font-family: "Limelight", sans-serif;
    color: yellowgreen;
    text-align: center;
    font-size: 2em;
    margin: 26.56px 0;
}

h4 {
    font-family: "Limelight", sans-serif;
    color: yellowgreen;
    text-align: center;
    font-size: 2em;
    margin: 26.56px 0;
}

h5 {
    font-family: "Limelight", sans-serif;
    color: yellowgreen;
    text-align: center;
    font-size: 2em;
    margin: 26.56px 0;
}

h6 {
    font-family: "Limelight", sans-serif;
    color: yellowgreen;
    text-align: center;
    font-size: 2em;
    margin: 26.56px 0;
}

h7 {
    font-family: "Limelight", sans-serif;
    color: yellowgreen;
    text-align: center;
    font-size: 2em;
    margin: 26.56px 0;
}

.T-Shirts {
    display: inline-block;
    width: 20;
    margin: 1%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}

.T-Shirts img {
    width: 30%;
    height: auto;
    border-radius: 10px;
}

.Crewneck {
    display: inline-block;
    width: 30%;
    margin: 1%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}

.Crewneck img {
    width: 100%;
    border-radius: 10px;
}

.Longsleeve {
    display: inline-block;
    width: 30%;
    margin: 1%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}

.Longsleeve img {
    width: 80%;
    height: auto;
    border-radius: 10px;
}

.Sweatshirts {
    display: inline-block;
    width: 30%;
    margin: 1%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}

.Sweatshirts img {
    width: 65%;
    height: auto;
    border-radius: 10px;
}

.Jewelry {
    display: inline-block;
    width: 30%;
    margin: 1%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}

.Jewelry img {
    width: 40%;
    height: auto;
    border-radius: 10px;
}

.product6 {
    display: inline-block;
    width: 30%;
    margin: 1%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}

.product6 img {
    width: 100%;
    border-radius: 10px;
}

a {
    color: rgb(2, 255, 225);
    text-decoration: none;
    position:sticky;
}

a:hover {
    color: rgb(2, 255, 225);
    text-decoration: underline;
}

footer {
    text-align: center;
    color: white;
    font-family: "Limelight", sans-serif;
    font-size: 1.5em;
    margin: 26.56px 0;
}

